@import "variables.scss";
* {
  font-family: "Alegreya Sans", sans-serif;
}
a {
  text-decoration: none;
  color: $color-1;
}
.h1 {
  font-size: 72px;
  font-style: bold;
  font-weight: 400;
  line-height: 72px;
}

.h2 {
  font-size: 56px;
  font-style: normal;
  font-weight: 100;
}

.h3 {
  font-size: 40px;
  font-style: normal;
  font-weight: 100;
}

.h4 {
  font-size: 28px;
  font-style: bold;
  font-weight: 400;
  line-height: 33.6px;
}

.h5 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.4px;
}

.h6 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
}
.h7 {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
}
