@import 'variables.scss';
@import 'mixins.scss';
@import 'mainFonts.scss';

.button {
    @include center;
    max-width: 180px;
    width: 100%;
    height: 50px;
    padding: 10px;
    color: $color-5;
    background-color: $color-2;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px 0px;
    border-radius: 50px;
    transition: 0.2s;
    &__dis {
        &:hover {
            cursor: pointer;
            background-color: #fff;
            color: $color-1;
            border: solid 1px $color-1;
        }
        &:active {
            cursor: pointer;
            transform: scale(0.95);
        }
    }
}
.close__btn {
    font-size: 10px;
    height: 30px;
    width: 30px;
}
.section {
    display: flex;
    width: 100%;
    gap: 20px;
}
.text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 500px;
}

.top-text {
    display: flex;
    align-self: center;
    width: 70px;
    border-bottom: 0.5px dashed;
}

.modal {
    @include modal;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 400px;
    &__title {
        color: $color-1;
        @include title-border(center, $color-1);
        width: 320px;
    }
    &__content {
        @include center;
        flex-direction: column;
        gap: 40px;
    }
    &__socials {
        @include center;
        flex-direction: column;
        gap: 10px;
        & form {
            width: 180px;
        }
    }
}
.popup {
    @include modal;
    width: 400px;
    height: 200px;
    &__content {
        @include center;
        gap: 10px;
        padding: 20px;
        flex-direction: column;
    }
    &__socials {
        display: flex;
        gap: 30px;
        & div {
            width: 150px;
        }
    }
}
.blur {
    filter: blur(5px);
}

.header {
    position: fixed;
    width: 100%;
    @include center;
    height: $headerheight;
    color: $color-1;
    background-color: #ffffff;
    z-index: 10;
    &__menu {
        display: flex;
        gap: 20px;
        height: 100%;
        &__options {
            @include center;
            width: 100px;
            height: 100%;
            &:hover {
                transition: 0.2s;
                background-color: rgba(255, 166, 0, 0.208);
                border-radius: 40px;
            }
        }
    }
}

.connect {
    display: flex;
    align-items: center;
    width: 300px;
    margin: 80px 80px 20px;
    gap: 150px;

    &__button {
        width: 180px;
        align-self: center;
    }
}

.main {
    color: $color-5;
    background-color: #000000;
    background-image: url(../images/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.marquee {
    @include center;
    height: 40px;
    background-color: $color-2;
    & div {
        gap: 20px;
        @include center;
        color: $color-5;
    }
}

.info {
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: $color-1;
    position: relative;
    height: $sectionheight;
    &__img {
        height: 350px;
        width: 300px;
        object-fit: cover;
        border-radius: 150px 150px 30px 30px;
    }
    &__text {
        text-align: center;
        justify-content: center;
    }
}

.courses {
    @include center;
    padding: 0 30px 30px 30px;
    background-color: white;
    color: $color-1;
    flex-direction: column;
    gap: 50px;
    &__title {
        @include title-border(center, $color-1);
    }
    &__img {
        height: 400px;
        width: auto;
        object-fit: cover;
    }
}
.carousel {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 60px;
    &__button__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__gallery {
        display: flex;
        position: relative;
        width: 100%;
        height: 400px;
    }
    &__item {
        @include center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transition: opacity 0.5s ease-in-out;
        display: none;
        &.faded {
            display: flex;
            animation: fadeout 0.4s ease 0s 1 normal forwards;
            @keyframes fadeout {
                0% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                }
            }
        }
        &.active {
            display: flex;
            animation: fade 0.8s ease 0s 1 normal forwards;
            @keyframes fade {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
        }
    }
    &__dots {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $color-3;
        border: none;
        margin: 0 5px;
        cursor: pointer;
        opacity: 0.5;
        transition: opacity 0.2s ease-in-out;
        &.active {
            opacity: 1;
            background-color: #000000;
        }
    }

    &__media {
        display: none;
    }
}
.carousel-prev,
.carousel-next {
    top: 50%;
    width: 40px;
    height: 40px;
}

.motivation {
    display: flex;
    @include center;
    position: relative;
    & video {
        object-fit: cover;
        width: 100%;
        height: 500px;
    }
    &__text {
        text-align: center;
        justify-content: center;
        width: 500px;
        position: absolute;
        z-index: 1;
        color: $color-5;
        text-shadow: -3px 1px 10px #000000;
    }
}
.students {
    @include center;
    flex-direction: column;
    gap: 30px;
    padding: 30px 10px;
    background-color: $color-2;
    color: $color-5;
    &__title {
        align-self: flex-end;
        @include title-border(center, $color-5);
    }
    &__carousel {
        gap: 30px;
        padding: 50px;
        background-color: #ffffff43;
        border-radius: 50px;
    }

    &__container {
        display: flex;
        height: 200px;
        overflow-x: scroll;
        gap: 50px;
        width: 100%;
        height: 100%;
        &::-webkit-scrollbar {
            display: flex;
            height: 5px;
            border-radius: 8px;
            background-color: $semi-trans;
            &-thumb {
                border-radius: 9px;
                background-color: $color-4;
            }
        }
    }

    &__gallery {
        display: flex;
        height: 180px;
        width: 480px;
        gap: 20px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

        &__img {
            width: 150px;
            height: auto;
        }
        &__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            & .h6 {
                width: 400px;
            }
        }
    }
}
.gallery__title {
    align-self: flex-start;
    @include title-border(center, $color-5);
}

.join {
    @include center;
    flex-direction: column;
    color: $color-5;
    height: 300px;
    background-image: url(../images/join.jpg);
    background-size: cover;
    & div {
        @include box;
        text-align: center;
        padding: 10px 30px;
        background-color: $color-1;
    }
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: $color-1;
    color: $color-4;
    & a {
        color: rgb(113, 218, 232);
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        padding: 30px;
        gap: 30px;
        border: 1px solid $color-4;
        border-radius: 20%;
        &__title {
            border-bottom: 1px solid $color-4;
        }
        &__info {
            display: flex;
            flex-direction: column;
            width: 260px;
            gap: 15px;
        }
    }
    &__map {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        gap: 30px;
        &__title {
            border-bottom: 1px solid $color-4;
        }
    }
    &__main__map {
        border: 5px solid $color-4;
    }
}

.hamburger {
    display: none;
    &__box {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 2.5rem;
        width: 2.5rem;
        cursor: pointer;
        z-index: 2;
    }

    &__line {
        height: 3px;
        background: $color-1;
        border-radius: 5px;
        margin: 5px 0px;
        transform-origin: left;
        transition: all 0.5s;
    }

    &__menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100%;
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        transform: translateX(-320px);
        transition: 0.3s;
        box-shadow: 0 0 10px #000;
    }

    &__link {
        padding: 30px 10px;

        &:hover {
            background-color: #e8e7e7;
        }
    }

    &__checkbox:checked ~ &__box &__line {
        &:first-child {
            transform: rotate(45deg);
        }

        &:nth-child(2) {
            opacity: 0;
        }

        &:last-child {
            transform: rotate(-45deg);
        }
    }

    &__checkbox:checked ~ &__menu {
        transform: translateX(0);
    }
}

// media

@media (max-width: 880px) {
    .header {
        justify-content: space-between;
        padding: 0 20px;
    }
    .hamburger {
        display: flex;
    }
    .logo {
        display: none;
    }
    .header__menu {
        display: none;
    }
    .marquee {
        & div > p:not(:first-child) {
            display: none;
        }
    }
    .h2 {
        font-size: 40px;
    }

    .connect__text {
        background-color: #00000076;
        padding: 20px;
        border-radius: 50px;
    }
}

@media (max-width: 800px) {
    .info {
        padding: 0 20px;
    }
    .h2 {
        font-size: 30px;
    }
    .h3 {
        font-size: 23px;
    }

    .courses__carousel,
    .carousel__dots,
    .motivation {
        display: none;
    }

    .carousel__media {
        display: flex;
        flex-direction: column;
        gap: 50px;
        &__item {
            padding: 30px;
            border-radius: 50px;
            background-color: #bb955725;
        }
    }
    .footer {
        flex-direction: column;
        @include center;
    }

    .students,
    .gallery {
        &__title {
            align-self: center;
        }
    }

    .gallery {
        &__title {
            align-self: center;
        }
    }
    .join {
        height: 200px;
    }
}

@media (max-width: 500px) {
    .connect {
        width: 100%;
        margin: 40px 0 0 0;
        &__text {
            border-radius: 0;
        }
    }
    .info {
        flex-direction: column;
    }
    .info {
        height: 700px;
        padding: 0;
        &__img {
            height: 300px;
            width: 100%;
            border-radius: 0;
        }
    }
    .footer {
        &__contacts {
            border: none;
        }
        &__map__title {
            padding: 10px;
        }
    }

    .students__carousel {
        padding: 20px;
    }
    .students {
        &__gallery {
            max-width: 350px;
            max-height: 150px;
            &__text {
                gap: 0;
                width: 200px;
            }
            &__img {
                display: none;
                height: 75px;
                width: auto;
            }
        }
    }
    .button {
        max-width: 130px;
    }

    .h1 {
        font-size: 60px;
    }

    .h2 {
        font-size: 32px;
    }

    .h3 {
        font-size: 20px;
    }

    .h4 {
        font-size: 20px;
    }

    .h5 {
        font-size: 15px;
    }

    .h6 {
        font-size: 12px;
    }
    .h7 {
        font-size: 11px;
    }
}
