$headerheight: 40px;
$color-1: #432818;
$color-2: #d4742b;
$color-3: #bb9457;
$color-4: #ffe6a7;
$color-5: #faf3e8;

$semi-trans: rgba(255, 255, 255, 0.273);

$sectionheight: 500px;

$color-text: black;
